@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    font-family: 'Montserrat' sans-serif;
}


body {
    background: #f1fbff;
}

.navbar ul li a:hover {
    color: #ebeef3 !important;
}


.section-padding {
    padding: 100px 0;
}

.card-body i:hover {
    color: #106eea;
}